.dropdown {
  display: block;
  position: relative;
  border: var(--border-black);
  background-color: var(--color-white-cream);
  box-shadow: var(--shadow-medium-dark);
  cursor: pointer;

  &:focus {
    outline: none;
    border: var(--border-primary-color);
  }

  &__label {
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    padding: 1rem 2rem;
    font-size: 1.7rem;
  }

  &__arrow {
    margin-left: 1rem;
  }

  &__items {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 15rem;
    overflow-y: scroll;
    background-color: var(--color-white-cream);
    border: var(--border-black);
    z-index: 10;

    &:focus {
      outline: none;
      border: var(--border-primary-color);
    }
  }

  &__items-list {
    list-style: none;
  }

  &__item {
    padding: 0.5rem 1rem;

    &.active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
