.custom-button {
  display: block;
  padding: 1.5rem 3em;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: var(--border-primary-color);
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s;

  &.google {
    border: 1px solid var(--color-red-google);
    background-color: var(--color-red-google);
    color: var(--color-white);

    &:hover {
      color: var(--color-red-google);
      background-color: var(--color-white);
    }
  }

  &.inverted {
    background-color: var(--color-white);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &.secondary {
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-secondary);
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  &:disabled {
    background-color: var(--color-white);
    color: var(--color-grey-light-1);
    border: var(--border-light-1);
    cursor: not-allowed;
  }
}
