@import '../../sass/mixins';

.add-ad {
  width: 100%;
  min-height: 85vh;
  padding: 2.5rem;
  @include background-circles;

  &__title {
    font-size: 3rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    margin-bottom: 7rem;
  }

  &__highlights {
    margin-bottom: 5rem;
    width: 75%;
    margin: 0 auto;

    &-title {
      font-size: 2.25rem;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__ad-title {
    position: relative;
    width: 40%;
    margin: 0 auto;
  }

  &__group {
    position: relative;
  }

  &__group:not(:last-of-type) {
    margin-right: 3rem;
  }

  &__group--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fr);
    gap: 1rem;

    & .grid-title {
      grid-column: 1/4;
      grid-row: 2/2;
      // text-align: center;
    }
  }

  &__salary-container {
    width: 75%;
    margin: 4rem auto;
  }

  &__salary-decision {
    width: 50%;
    margin: 4rem auto;
    text-align: center;
  }

  &__salary-q {
    margin-bottom: 3rem;
  }

  &__salary-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__salary-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__salary-value-select {
    position: relative;
    align-self: center;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }
}
