@mixin background-hover-effect {
  background-image: linear-gradient(
    125deg,
    var(--color-white-cream) 0%,
    var(--color-white-cream) 50%,
    var(--color-white) 50%,
    var(--color-white) 60%,
    var(--color-white-cream) 60%
  );
  background-size: 230%;
  background-repeat: no-repeat;
  transition: background-position 0.5s, transform 0.2s;

  &:hover {
    background-position: 130%;
    transform: scale(1.01);
  }
}
