.sign-in {
  border: 1px solid var(--color-black);
  border-radius: 3px;
  padding: 3rem;
  height: fit-content;
  width: 40vw;
  box-shadow: var(--shadow-huge-medium);

  &__title {
    margin-bottom: 5rem;
    font-size: 3rem;
  }

  &__group {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
}
