:root {
  --color-primary: #206ada;
  --color-black: #000;
  --color-white: #fff;
  --color-white-cream: #ececec;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-light-1: #cecece;
  --color-red-google: #db4437;
}
