:root {
  --color-primary: #206ada;
  --color-black: #000;
  --color-white: #fff;
  --color-white-cream: #ececec;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-light-1: #cecece;
  --color-red-google: #db4437;
  --color-red-error: #f32512;
  --color-office-theme: #0e5d92;
  --color-forklift-theme: #21bd96;
  --color-driver-theme: #f17e1f;
  --color-warehouse-theme: #d61ea8;
}
