.search-filter-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__title {
    font-size: 2.25rem;
    margin-bottom: 3rem;
  }

  &__filters {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
