.add-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 2.5rem;
  background: radial-gradient(
      circle at 0 0,
      var(--color-office-theme) 0%,
      var(--color-office-theme) 25%,
      transparent 25.1%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 90%,
      var(--color-warehouse-theme) 0%,
      var(--color-warehouse-theme) 4%,
      transparent 4.1%,
      transparent 100%
    ),
    radial-gradient(
      circle at 80% 22%,
      var(--color-driver-theme) 0%,
      var(--color-driver-theme) 7%,
      transparent 7.1%,
      transparent 100%
    );
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    margin-bottom: 7rem;
  }

  &__highlights {
    margin-bottom: 5rem;

    &-title {
      font-size: 2.25rem;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__ad-title {
    position: relative;
    width: 60%;
    margin: 0 auto;
  }

  &__group {
    position: relative;
  }

  &__group:not(:last-of-type) {
    margin-right: 3rem;
  }

  &__group--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fr);
    gap: 1rem;

    & .grid-title {
      grid-column: 1/4;
      grid-row: 2/2;
      // text-align: center;
    }
  }

  &__salary-container {
    width: 80%;
    margin: 0 auto;
  }

  &__salary-decision {
    width: 50%;
    margin: 4rem auto;
    text-align: center;
  }

  &__salary-q {
    margin-bottom: 3rem;
  }

  &__salary-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__salary-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}
