.add-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 2.5rem;

  &__title {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    margin-bottom: 7rem;

    select {
      margin-left: 2rem;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      font-family: inherit;
      background-color: var(--color-white-cream);
      box-shadow: var(--shadow-medium-dark);
      cursor: pointer;
    }
  }

  &__highlights {
    margin-bottom: 5rem;

    &-title {
      font-size: 1.9rem;
      text-align: center;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__group:not(:last-of-type) {
    margin-right: 3rem;
  }
}
