.add-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 2.5rem;

  &__title {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    margin-bottom: 7rem;

    select {
      margin-left: 2rem;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      font-family: inherit;
      background-color: var(--color-white-cream);
      box-shadow: var(--shadow-medium-dark);
      cursor: pointer;
    }
  }

  &__highlights {
    margin-bottom: 5rem;

    &-title {
      font-size: 2.25rem;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__group--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fr);
    gap: 1rem;

    & .grid-title {
      grid-column: 1/4;
      grid-row: 2/2;
      // text-align: center;
    }
  }

  &__group:not(:last-of-type) {
    margin-right: 3rem;
  }

  &__text-editor {
    width: 75%;
    margin: 0 auto;
  }
}
