.homepage {
  height: 85vh;

  &.hide-header {
    & .hero-header {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }

    & .data-container {
      height: 85vh;
    }
  }
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 7rem;
  font-size: 4rem;
  color: #f8f8f8;
  background-image: url('../../assets/header.jpg');
  background-size: cover;
  background-position: 0% 75%;

  &__color-letter {
    color: var(--color-primary);
  }
}

.data-container {
  display: flex;
  width: 100%;
  height: 40vh;
  transition: height 0.5s 0.2s;

  &__ads,
  &__search {
    width: 50%;
    overflow-y: scroll;
  }
}

.black {
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  color: white;
  font-size: 6rem;
}
